
@media (min-width: 320px) and (max-width: 768px) {

h1{
    font-size:1.5rem;
    margin-top:6px;
}

.input-group-append {
    margin-left: 0;
}

.top-header {
    height:60px!important;
}

.bg-light {
    display:block;
}
.forecast {
    width:125px;
}
#city-input{
    text-transform: capitalize;
}
#history{
    display:none;
}
.col {
    flex-basis: unset;
    flex-grow: 1;
    max-width: 100%;
}
.col-8{
    width:100%!important;
    max-width:100%;
    flex: 0 0 95%;
}
.col-4 {
    -ms-flex: 0 0 33%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-top:20px;
}
}
/********** end of media query ************/

* {
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
  }
  
body{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
img {
    height:42px!important;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    drop-shadow(4px 3px 3px #222)
}

.container{
    padding-right:0;
}
.border-primary{
    border-color:#ced4da!important;
    padding:3%;
}

.w-100 {
    width: 100%!important;
    padding: 0;
}


.fas {
    font-family: "Font Awesome 5 Free"!important;
}

.top-header {
    background-color: rgb(52, 58, 64) ;
    text-align:center;
    color:#fff;
    padding:10px 0 0 0;
    margin:0;
    height:80px;
    width:100%;
  }

  .navbar-brand {
    font-size: 36px;
}
.bg-primary{
    background-color:#007bff!important;
}

.search-header {
    font-size: 22px;
    font-weight: normal;
}
.d-block{
    border-bottom:1px solid #ced4da!important;
    border-top:0!important;
    border-right:0!important;
    border-left:0!important;
    text-transform: capitalize;
    height:46px;
}

.city-name {
    font-size: 30px;
    font-weight:500;
    padding-bottom:15px;
}
.forecast-date {
    font-size: 18px;
}


#temperature{
    margin-top:20px;
}

#history{
    border:1px solid #ced4da!important;
}
.orange{
    background-color:orangered;
    height:20px;
    color:#fff;
}
